.tools/
.builddir/
delivery/*
.ropeproject/
dependencies/*
pyenv/
run/

.vault_pass.txt

*.retry
*.pyc
.*.swp

docs/build/

!*/.gitkeep
!dependencies/requirements.yml

# python related folders
poetry.lock
*.egg-info
dist/
