[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
clickable-ansible = {ref = "v1.2", git = "https://github.com/lalmeras/clickable_ansible"}
clickable-igloo = {ref = "v1.0", git = "https://github.com/igloo-project/clickable_igloo"}

[scripts]
infrastructure-ansible = "clickable"

[dev-packages]

[requires]
